<phpunit
	bootstrap="tests/bootstrap-integration.php"
	backupGlobals="false"
	colors="true"
	coverage="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
			<testsuite name="integration" suffix=".php">
				<directory>./tests/Integration</directory>
			</testsuite>
	</testsuites>
	<log type="coverage-clover" target="clover.xml"/>
</phpunit>
